<div id="new_tweet_form" class="mb-8">
  <%= render partial: 'form', locals: { tweet: @tweet} %>
</div>

<div id="empty">
  <%= render 'empty' %>
</div>

<%= turbo_frame_tag "tweets", class: 'divide-y'  do %>
  <%= render @tweets %>
<% end %>
